alembic
blinker
cachelib
click==8.1.7
colorama
flask
Flask-Migrate
flask-session
flask-sqlalchemy
greenlet
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
reportlab
SQLAlchemy
typing-extensions
werkzeug
zipp
