<script>
   
    function show_hide_password() {
        if ($("#password_icon").hasClass("fa-eye")) {
            $("#password_icon").removeClass("fa-eye").addClass("fa-eye-slash")
            $("#password").attr("type", "password");
        } else {
            $("#password_icon").removeClass("fa-eye-slash").addClass("fa-eye")
            $("#password").attr("type", "text");
        }
    }
</script>